
.body{
    font-family: 'Montserrat', sans-serif; 
    color: rgb(39, 39, 39);
    
}
.body__wrapper{
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}


.container{
    max-width: 100%;
    margin: 0 auto;

}



/* INRO */
.intro{
    width: 100%;
    height: 80vh;
    background:url("/images/newbag.jpg") 
    center no-repeat;
    background-size: cover;
    position: relative;
}
.inro-item__opacity{
    position: absolute;
    width: 45%;
    height: 65vh;
    background-color: rgb(204, 74, 255);
    opacity: 0.3;
    z-index: 1;
    top: 0px;
    left: 0px;

    
}

/* HEADER */

.header{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color:#262626;
    color: whitesmoke;
    transition: transform .3s linear;
}

.header.hide{
    transform: translateY(-9vh);
}

.header__inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 9vh;
    text-transform: uppercase;
    padding: 0 20px 0 20;
}

/* NAV */

.menu__logo{
    font-size: 3em;
    margin: 0 20px 0 20px;
    
   }
.logo__link{
    display: flex;
    list-style-type:none;
}
.menu
{
    display: flex;
    width: auto;
    font-size: 30px;
    height: 100%;
    align-items: center;
    background-color: #262626;
    
}
.menu__list{
    display: flex;
    list-style-type:none;
    
}
.menu__item{
    margin: 0 30px 0 30px;
}

.menu__link{
    text-decoration: none;
    color: whitesmoke;
}
.menu__link__active:hover{

    border-bottom: rgb(175, 42, 187) 2px solid;
    border-left: rgb(175, 42, 187) 2px solid;
    transition: 0.3s;
  
    
}
/* CARD */

.cards_wrapper{
    background-color: rgb(255, 255, 255);
    width: 100%;
    
    
    
}
.cards__inner{
    padding: 50px 60px 50px 60px;
    
}
.cards{
    
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(5,130px);
    justify-content: center;
    column-gap: 8%;
    
    
}
.card{
     background: rgb(0, 0, 0);
     width: 100%;
     height: 100%;
     z-index: 1;
     
}

.card1{
    grid-column: 1/5;
    grid-row: 1/4;
}
.card2{
    grid-column: 5/9;
    grid-row: 2/5;
}
.card3{
    grid-column: 9/13;
    grid-row: 3/6;
}
.card_content{
    
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}
.card_content__active:hover{

    transform: scale(1.009);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.card_img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background:url("/images/newBag3.jpg") center no-repeat;
    background-size: cover;
    
    
}
.card_label__wrapper{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 1;
    background-color: rgb(5, 5, 5);
    border-radius: 15px 15px 0 0;
}


.card_label__title{
    color: whitesmoke;
    text-align: center;
    padding: 10px 0 5px 0;
    
}
.card_label__wrapper::before {
    display: block;
    position: absolute;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 0px;
    content: '';
    color: transparent;
    background:#50055f;
  }
  .card_label__wrapper:hover::before{
    opacity: 0.2;
    height: 100%;
    transition: all 0.6s ease-in-out;
    border-radius: 8px;
    
  }
.card_label__wrapper:hover .card_label__text{
    display: block;
    opacity: 1;
    
}
.card_label__text{
    
    position:static;
    color: whitesmoke;
    font-size: 15px;
    text-align: center;
    padding: 10px 0 5px 0;
    bottom: 0;
    display: none;
    opacity: 0;
}

.card_border{
    position: relative;
    right: 0;
    top:-10px;
    height: 10px;
}



/* Registration page */



.reg_body{
    display: block;
    background-color: #eee;
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
    font-family: 'Montserrat', sans-serif; 
}

.header_reg__title
{
    text-align: center;
    padding: 64px 0 25px 1px;
    margin: 0;

}
.header_reg__title{
text-decoration: none;
color: #000000;
}


/* MAIN registration page */

.reg_content{
    margin-right:auto;
    margin-left: auto;
    background-color: #fff;
    border-radius:8px;
    position: relative;
    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .4px;
    
}
.reg_opacity{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(204, 74, 255);
    opacity: 0.3;
    z-index: 0;
    top:0;
}


/*  siginIN AND signUP-option MAIN registration page */
/*-----------------------------------------------------*/
.info_center{
text-align: center;
padding: 0 25px 10px;
margin-bottom: 30px;
overflow: auto;

}

.siginin_option{
    letter-spacing: 2px;
    padding: 25px 0 6px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    overflow:auto;
}
/* SIGN UP AND SIGN IN*/

/* SIGN UP*/

.title_signup{
    padding: 20px 0 20px;
    width: 50%; 
    float: left;
    position: relative;
}
.bord{
    border-bottom: 2px solid #50055f;
}
.title_signup ::after {
    content: " ";
    height: 25px;
    width: 2px;
    position: absolute;
    right: 0px;
    top: 14px;
    background: #000000;
    opacity: .3;

}

.sign_item__link{
    background-color: transparent;
    color: rgb(68, 68, 68) !important;
    text-decoration: none;
}

.sign_item__link:hover{
    opacity: 0.5;
}
/* SIGN IN*/

.title_signin{
    padding: 20px 0 20px;
    width: 50%; 
    float: right;
}
.sign_item__link{
    background-color: transparent;
    color: rgb(68, 68, 68) !important;
    text-decoration: none;
    
}
.sign_item__link:hover{
    opacity: 0.5;
}
.line{
    width: 100%;
    height: 1px;
    background-color: rgb(94, 93, 93);
    clear: both;
}
/*-----------------------------------------------------------*/
/* REGISTER FORM  */
.register_form{
    
    padding: 0 0 20px 0;
    width: 100%;
    overflow: auto;
}

.form-size{
    max-width: 350px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    
}
.field{
    font-weight: 500;
    margin: 0px 0px 20px 0px;
    position: relative;
    width: 100%;

}
.field_item__labal{

    text-align: left;
    width: 100%;
    margin: 0 0 15px 0;
    min-width: 20%;
    float: left;
    clear: both;
    color: #5c5c5c; 
    font-weight: 600; 
    text-transform: uppercase;
}
.field_item__input{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style:normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: .3px;
}

.signin-button{

    margin: 50px 0 0 0;
    text-align: center;
    
}

.signin-button__input{
    border: 0;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: #50055f;
    height: 46px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style:normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: .3px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.signin-button__input:hover{
    opacity: 0.3;
}

/*FOOTER*/
.footer{
    width: 100%;
    height: 65px;
    background-color: #262626;
}
/* MEDIA _____________________________________*/

@media (max-width: 1200px) {
    .container{
        max-width: 970px;
    }
    .cards__inner{
        padding: 0;
        
    }
    .menu{
        font-size: 25px;
    
    }
    .menu__item{
        margin: 0 10px;
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: repeat(6,200px);
        justify-content: center;
        row-gap: 10px;
        }
      
       .card1{
           grid-column: 2/12;
           grid-row: 1/3;
       }
       .card2{
           grid-column: 2/12;
           grid-row: 3/5;
       }
       .card3{
           grid-column: 2/12;
           grid-row: 5/7;
       }

}
@media (max-width: 992px) {
    .container{
        max-width: 750px;
    }
    .header__inner{
        justify-content: flex-start
    }
    .cards__inner{
        padding: 20px 0 20px 0;
        
    }
    .menu{
        display: none;
    }
    .menu__logo{
        font-size: 35px;
    }
    .cards{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6,200px);
    justify-content: center;
    row-gap: 10px;
    }
  
   .card1{
       grid-column: 2/12;
       grid-row: 1/3;
   }
   .card2{
       grid-column: 2/12;
       grid-row: 3/5;
   }
   .card3{
       grid-column: 2/12;
       grid-row: 5/7;
   }
}