
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body{
  height: 100vh;
  margin: 0;
}
header{
    position: relative;
    width: 100%;
    
}

/*NAV*/
.primary-navigation {
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
    background-color: black;
    padding:20px;  
    text-align: center;
    font-size: 16px;
}
.primary-navigation a{
    text-decoration: none;
}
.primary-navigation ul li a{
    color: white;
}
    ul li .but{
        position: relative;
       text-align: center;
    }
      ul li {
        background-color: transparent;
        margin: 0 auto;
        display: inline-block;
        padding: 0 30px;
        position: relative;
        text-decoration: none;
        
      }
  
      .dropdown {
        position: absolute;
        padding-left: 0;
        left: 0;
        display: none;
        background: rgb(0, 0, 0);
      }
      .primary-navigation ul li a:hover{
        opacity: 0.5;    
      }
  
      ul li:hover .dropdown,
      .dropdown:hover {
          z-index: 10;
        display: block; 
        text-align: left;
        padding-top: 20px;
        
      }
      
  
      .dropdown li {
        display:block;
        clear: both;
        width: 100%;
        text-align: left;
        
        margin-bottom: 20px;
        font-size: 10px;
      }
     
  
     .dropdown li a:hover {
        padding-left: 5px;
        border-left: 2px solid #50055f;
        transition: all 0.3s ease-in-out;
      }
    
      .dropdown li a { transition: ease-in 0.5s ease; }
  
  

/* MAIN main page */





.standart_main article{
    min-height: 100%;
    display: block;
    margin: 0 auto;
    border: solid red;
    max-width: 66%;
    
} 
.article-main .sect {
    border: solid rgb(5, 40, 238);
    margin: 10px;
    
}

/*----------------------------------------*/
/*NEWS PAGE*/


.news_main{
    display: block;
    min-height: 100%;
    width: 100%;
    position: relative;
    background: #eee;
}
.news_article{
    position: absolute;
    width: 70%;
    min-height: 100%;
    background-color: #eee;
}
.card_content{
    position: relative;
    display: block;
    width: 70%;
    background-color: rgb(255, 255, 255);
    
}

.card_content div h1{
    display: block;
    float: right;
    max-width: 100%;
    margin: 0;
    
}
.img_block{
    padding: 20px;
    max-width: 50%; 
    height: 200px; 
    display: block;
    overflow: hidden;

}

.aside_article{
    position: fixed;
    display:   block;
    width: 30%;
    right:0;
    min-height: 80%;
    background: #eee;
    border-radius: 20px;
}

.aside_image_content{
    display: flex;
    min-width: 100px;
    height: 100px;
    margin: 20px;
    overflow: hidden;
    
    
}

.aside_card_content
{
    display:  flex;
    max-width: 80%;
    min-height: auto;
    background: #fff;
    margin: 20px;
    border-radius:  8px;
}


.news_image{
    display: block;
}
/* FOOTER */
footer {
    width: 100%;
    height: 65px;
    background-color: rgb(0, 0, 0);
  }


 




/* Registration page */



.reg_body{
    display: block;
    background-color: #eee;
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
    
}

.header_reg h1
{
    text-align: center;
    padding: 64px 0 25px 1px;
    margin: 0;

}
.header_reg a{
text-decoration: none;
color: #000000;
}


/* MAIN registration page */

.content{
    margin-right:auto;
    margin-left: auto;
    background-color: #fff;
    border-radius:8px;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .4px;
    
}


/*  siginIN AND signUP-option MAIN registration page */
/*-----------------------------------------------------*/
.info-center{
text-align: center;
padding: 0 25px 10px;
margin-bottom: 30px;
overflow: auto;

}

.siginin-option{
    letter-spacing: 2px;
    padding: 25px 0 6px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    overflow:auto;
}
/* SIGN UP AND SIGN IN*/

/* SIGN UP*/

.title_signup{
    padding: 20px 0 20px;
    width: 50%; 
    float: left;
    position: relative;
}
.bord{
    border-bottom: 2px solid #50055f;
}
.title_signup ::after {
    content: " ";
    height: 25px;
    width: 2px;
    position: absolute;
    right: 0px;
    top: 14px;
    background: #000000;
    opacity: .3;

}

.sign-up a{
    background-color: transparent;
    color: rgb(68, 68, 68) !important;
    text-decoration: none;
}

.sign-up a:hover{
    opacity: 0.5;
}
/* SIGN IN*/

.title_signin{
    padding: 20px 0 20px;
    width: 50%; 
    float: right;
}
.sign-in a{
    background-color: transparent;
    color: rgb(68, 68, 68) !important;
    text-decoration: none;
    
}
.sign-in a:hover{
    opacity: 0.5;
}
.line{
    width: 100%;
    height: 1px;
    background-color: rgb(94, 93, 93);
    clear: both;
}
/*-----------------------------------------------------------*/
/* REGISTER FORM  */
#register-form{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: auto;
}

.form-size{
    max-width: 350px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    
}
.field{
    font-weight: 500;
    margin: 0px 0px 20px 0px;
    position: relative;
    width: 100%;

}
.field label{

    text-align: left;
    width: 100%;
    margin: 0 0 15px 0;
    min-width: 20%;
    float: left;
    clear: both;
    color: #5c5c5c; 
    font-weight: 600; 
    text-transform: uppercase;
}
.field input{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style:normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: .3px;
}

.signin-button{
    margin: 15px 0 15px;
    text-align: center;
    
}

.signin-button input{
    border: 0;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: #50055f;
    height: 46px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style:normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: .3px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.signin-button input:hover{
    opacity: 0.3;
}


